node_modules
.nuxt
.output
.data
data
coverage
playwright-report
test-results
.env
.env.*
!.env.example
*.log
plugin/**/bin
plugin/**/obj
plugin/**/cipx
.vs
.idea
_pkgs
tools/**/bin
tools/**/obj
*.nupkg
.trae
